.svn
Redist/appCache
*.sdf
*.ncb
*.suo
*.vcproj.*
*.vcxproj.user
ipch
debug.txt
*.opensdf
*.orig
*.rej
*.obj
*.ilk
*.pdb
debug/*.tlog
debug/*.log
debug/*.pch
debug/*.lastbuildstate
debug/*.res
*.idb
release/*.tlog
release/*.log
release/*.pch
release/*.lastbuildstate
release/*.res
.DS_Store
*.tlog
Intermediate
*.opendb
intermediates
.idea
gdbserver
gdb.setup
*.bin
libcommon.a
librender.a
liblaya.so
.gradle
*.d
*.bc
Conch/build/build

